.main-container
  %h1 Monthly Activity Sheet
  .navigation-lists
    .list-group
      %li.list-group-item
        .image-arrow-class
          = image_tag("arrow.png", :alt=>"arrow", :class => "arrow")
        .list-group-class
          = link_to "Add Employee Details To Monthly Activity Sheet", new_monthly_activity_sheet_path, class: "list-group-font"
        .cls
  .add-employee-project-table
    .project-list-selectbox

      = select_tag "month_id", options_from_collection_for_select(@monthly_activity_months_fetch_result, "id", "month_year"), class: "dropdown"

      = select_tag "project_id", options_from_collection_for_select(@monthly_activity_project_fetch_result, "id", "project_name"),
        :onchange =>"employee_project_month_result_list('monthly_activity_sheets/fetch_employees_for_month_project');"
    #employee_result_list.result_list_style

  .cls