// Place all the styles related to the AddEmployeesToProject controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-employee-project-table{
  float: left;
  width: 670px;
//  background-color: #d9d9d9;
  margin-left: 6px;
  margin-top: 10px;

}

.project-list-selectbox{
  width: 670px;
  background-color:#ddd;
  font-size: 16px;
  padding: 5px;
  label{
    margin-left: 5px;
  }
  select{
    margin-left: 5px;
  }
}

.employee-list{
  padding-bottom: 2px;
  table{
    width: 670px;
    border: none;
    text-align: left;
    th{
      padding-left: 5px;
    }
    td{
      padding-left: 5px;
    }
  }
}

.result_list_style{
  padding-bottom: 2px;
  table{
    border: none;
    text-align: left;
    th{
      padding-left: 5px;
    }
    td{
      padding-left: 5px;
    }
  }
}

.download-background{
  background-color: #0088cc;
  padding: 5px;
}

.link-color{
color: #f3f3f3;

}