
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
    margin:0px auto;
    padding:0px;
    background-color: #f6f6f6;
    width: 100%;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-fieldbox{

}

.form-button{
    margin-top: 10px;

}

header{
    background-color: #f3f3f3;
    width: 100%;
//    border-bottom:1px solid #eeeeee ;

}

.company-logo-style{
  padding: 5px;
  width: 125px;
  height: 50px;
  margin-left: 410px;
}

.main-header{

    margin: 0px auto;
    width: 980px;
}

.sub-header{
    width: 700px;
    margin: 0px auto;
    color: #ffffff;
    padding-top: 5px;
    float: left;
}

.sub-header1{
    width: 200px;
    margin: 0px auto;
    color: #ffffff;
    padding-top: 5px;
    float: left;
    margin-left: 80px;
}

footer{
    background-color: #f3f3f3;
    width: 100%;
}

.main-footer{

    margin: 0px auto;
    padding:0px;

    margin-top: 50px;
}

.sub-footer{
    width: 980px;
    margin: 0px auto;
    color: #0088cc;
    padding: 10px;
  text-align: center;
}